---
import BaseLayout from "@/layouts/BaseLayout.astro";
const { frontmatter } = Astro.props;
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Icons
import ChevronRight from "@/components/fundations/icons/ChevronRight.astro";
// Breadcrumbs Data
const breadcrumbs = [
  { label: "Home", href: "/" },
  { label: "Help Center", href: "/helpcenter/home" },
  { label: frontmatter.title, href: "#" },
];
---

<BaseLayout>
  <section>
    <Wrapper variant="standard" class="fixed z-40 top-[3.8rem] inset-x-0">
      <nav
        aria-label="Breadcrumb"
        class="w-full py-4 pr-4 bg-white border-b border-base-200"
      >
        <ol class="flex items-center text-xs gap-2 text-base-500">
          {
            breadcrumbs.map((item, index) => (
              <>
                <li>
                  {index === 0 ? (
                    <a
                      href={item.href}
                      class="flex items-center justify-center font-medium  hover:text-base-500"
                    >
                      {item.label}
                    </a>
                  ) : index < breadcrumbs.length - 1 ? (
                    <a
                      href={item.href}
                      class="font-medium text-base-500 hover:text-accent-500 "
                    >
                      {item.label}
                    </a>
                  ) : (
                    <span class="font-medium text-green-500 ">
                      {item.label}
                    </span>
                  )}
                </li>
                {index < breadcrumbs.length - 1 && (
                  <li class="flex items-center justify-center font-medium hover:text-accent-50">
                    <ChevronRight size="sm" />
                  </li>
                )}
              </>
            ))
          }
        </ol>
      </nav>
    </Wrapper>
    <Wrapper variant="standard" class="pt-48 pb-8 overflow-hidden lg:pt-82">
      <div class="max-w-xl">
        <Text tag="h1" variant="displayLG" class="text-base-800 text-balance">
          {frontmatter.title}
        </Text>
        <Text tag="p" variant="textBase" class="mt-4 text-base-500">
          {frontmatter.intro}
        </Text>
      </div>

      <div class="pt-8 mt-8 border-t border-base-200">
        <Wrapper variant="prose" class="max-w-xl">
          <slot />
        </Wrapper>
      </div>
    </Wrapper>
  </section>
</BaseLayout>
